

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}


  #scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 60px;
  }

  #scrollbar::-webkit-scrollbar-track {
    background: #edf3f7;
  }

  #scrollbar::-webkit-scrollbar-thumb {
    background: #81b9ed;
    border-radius: 100vh;
    border: 1px solid #5463c7;
  }

  #scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a0b0c0;
  }

  @tailwind base;
@tailwind components;
@tailwind utilities;
